<h1 class="page-header">Home</h1>
<div class="row">
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-car fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{connectedAgents.length}}</div>
						<div>Connected Agents</div>
					</div>
				</div>
			</div>
			<a href="agents">
				<div class="panel-footer">
					<span class="pull-left">View Agents</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-tasks fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{runningModelings.length}}</div>
						<div>Running Modelings</div>
					</div>
				</div>
			</div>
			<a href="modelings">
				<div class="panel-footer">
					<span class="pull-left">View Modelings</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-tasks fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{loadedModelings.length}}</div>
						<div>Loaded Modelings</div>
					</div>
				</div>
			</div>
			<a href="modelings">
				<div class="panel-footer">
					<span class="pull-left">View Modelings</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="glyphicon glyphicon-transfer fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">42</div>
						<div>TCP Sessions</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left">View Sessions</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<i class="fa fa-bell fa-fw"></i> Alerts <span class="badge">{{$storage.alerts.length}}</span>
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body" style="height:300px;overflow-y:auto;padding-bottom:0px">
		<div class="list-group">
			<a href="#" class="list-group-item" ng-click="removeAlert($index)" ng-repeat="alert in $storage.alerts | reverse | limitTo:10">
				<span class="label label-{{alert.type}}" style="text-transform:capitalize;">{{alert.type}}</span> {{alert.msg}}
				<span class="fa fa-times pull-right"></span>
				<span class="pull-right text-muted small"><em am-time-ago="{{alert.date}}"></em></span>
			</a>
		</div>
		<!-- /.list-group -->
	</div>
	<div class="panel-footer">
	<a href="#" class="btn btn-default btn-block">Dismiss All Alerts</a>
	</div>
	<!-- /.panel-body -->
</div>